#myTable{
    border: 1px solid black;
    padding: 10px;
    width: fit-content;
}
#myTable td{
    line-height: 0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}
#ilikemebetter{
    padding: 30px;
}
#home ul {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
#home li {
    margin: 0 10px;
}
#home a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Roboto;
}
.content{
    background-color: #f0f0f0;
}
#loginform button{
    margin-top: 10px;
}
#Facebook a{
    text-decoration: none;
    color: chocolate;
}
#about{
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    width: fit-content;
    margin-bottom: 20px;
}
#contact{
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 40px;
}
#dance{
    margin-top: 30px;
    border: 1px solid black;
    width: fit-content;
}
#dance p{
    text-align: center;
}
#loginform{
    margin-bottom: 10px;
}